* {
  overflow: hidden;
  margin: 2% 2% 1% 1%;
}

.background {
  background-color: #f8f7f7;
}

.sidebar {
  display: grid;
  background-color: #dddddd;
  margin: 5% 1% 8% 4%;
  float: left;
  width: 15vw;
  height: 70vh;
}

ul {
  list-style: none;
  background-color: #dddddd;
  margin-top: 15vh;
  font-weight: 450;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.rightside {
  /* margin-top: 2.5%; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.review,
.average,
.sentiment {
  background-color: #dddddd;
  width: 25vw;
  height: 25vh;
  padding-left: 2%;
}

.bottom {
  background-color: #dddddd;
  margin-top: 0%;
  width: 66vw;
  height: 42vh;
  margin-left: 2%;
}

.number {
  text-align: center;
  font-size: larger;
}

.num{
  font-size: x-large;
}
.box {
  background-color: #bfbebd;
  margin-left: 12%;
  margin-top: -4%;
  margin-bottom: -10%;
  width: 52vw;
  height: 37vh;
}
